@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotate-to-45 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-90deg);
  }
}

@keyframes rotate-to-0 {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.rotate-to-45 {
  animation: rotate-to-45 0.5s forwards;
}

.rotate-to-0 {
  animation: rotate-to-0 0.5s forwards;
}
